<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functional" preserve-order="true" configfailurepolicy="continue" >
<listeners>
    <listener class-name="org.uncommons.reportng.HTMLReporter" />
 </listeners>
	<test name="SpiritRestrictions" preserve-order="true" >
	  	<classes>
	  	<class name="ru.crystals.disinsector2.test.SpiritRestrictionsToSAPTest"/>
		</classes>	 
  	</test>	 
  	<test name="TableReports" preserve-order="true" >
	  	<classes>
	  		<class name="ru.crystals.disinsector2.test.tablereports.TableReportAdverstingTest"/>
	  		<class name="ru.crystals.disinsector2.test.tablereports.PriceCheckerReportTest"/>
		</classes>	 
  	</test>	
</suite> 
