<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functional" preserve-order="true" configfailurepolicy="continue" >
	<parameter name="first-name"  value="Cedric"/>
	<test name="Licence" preserve-order="true" enabled="true">
	  	<classes>
	  	<class name="ru.crystals.disinsector2.test.SpiritRestrictionsToSAPTest"/>
<!-- 	  	<class name="ru.crystals.test2.SpiritRestrictionsToSAPTest"/>
	  	<class name="ru.crystals.test2.TableReportTest"/> -->
		</classes>	 
  	</test>	 

</suite> 
